<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
    <title>Cadastro de Clientes</title>
    <title>Sticky Notes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/style.css">
</head>

<body>
    <h1 class="text-center">Painel</h1>

    <div class="container d-flex justify-content-center align-items-center py-3 mb-xs-5">
        <a href="cliente.html"> Cadastro de Clientes </a>
    </div>

    <footer>
        <p id="dataAtual"></p>
        <img id="icondb" src="../public/img/dboff.png" alt="icone banco de dados">
    </footer>

    <script src="renderer.js"></script>
</body>

</html>