<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <title>Cadastro de Clientes</title>
    <title>Sticky Notes</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <h1>Cadastro de Clientes</h1>

    <footer>
        <p id="dataAtual"></p>
        <img id="icondb" src="../public/img/dboff.png" alt="icone banco de dados">
    </footer>

    <script src="../public/js/bootstrap.min.js"></script>
    <script src="renderer.js"></script>
</body>
</html>