@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/** Rodapé **/
footer {
    width: 100vw;
    height: 45px;
    padding: 5px;
    background-color: #ffce3b;
    display: flex;   
    justify-content: space-between;    
    position: fixed;
    bottom: 0;
    margin: 0;
}

footer p {
    color: #fff;
    font-size: 1.25em;
}

.caixa {
    width: 600px;
}

.cabecalho {
    width: 100vw;
    height: auto;
    background: #131313;
}

.button {
    padding: 5px 15px;
    border: 1px solid #ffce3b;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: none;
    color: #ffce3b;
}
.button:hover {
    transition: 1s;
    border: none;
    background-color: #ffce3b;
    color: #000000;
}

#sobre h3 {
    color: #ffce3b;
}